@font-face {
    font-family: 'Museo Sans Rounded';
    src: local('Museo Sans Rounded 100'), local('Museo-Sans-Rounded-100'),
        url('MuseoSansRounded-100.woff2') format('woff2'),
        url('MuseoSansRounded-100.woff') format('woff'),
        url('MuseoSansRounded-100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }