body {
    background-image: url(../images/bg.jpg);
    background-size: 100%;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: 'Museo Sans Rounded', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: 'Museo Sans Rounded', sans-serif;;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

/* b-card */
.b-card {
    width: 686px;
    height: 391px;
    padding: 24px 21px 21px 21px;
    box-sizing: border-box;
    background-color: #111a28;
    border-radius: 10px;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.b-card__header {
    margin: 0 0 20px 0;
}
.b-card__row {
    display: flex;
    justify-content: space-between;
}
.b-card__cell_middle {
    padding-top: 50px;
    padding-right: 45px;
}
/* product */
.product {
    margin: 0 15px;
    font-size: 0;
}
.product__img {
    width: 100%;
    margin: 0 0 70px 0;
}
.product__nav {
    display: flex;
    justify-content: center;
}
.nav__block {
    display: inline-block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
.nav__block:hover {
    border: 2px solid #7e838b;
}
.nav__link {
    display: inline-block;
    padding: 2px;
}
.nav_color_1 {
    background-color: #1f273f;
}
.nav_color_2 {
    background-color: #ffffff;
}
.nav_color_3 {
    background-color: #ed3333;
}
.nav_color_4 {
    background-color: #29e3ea;
}
/* article */
.article {
    width: 188px;
    margin: 0 34px;
}
.article__caption {
    font-size: 24px;
    line-height: 26px;
    color: #e1e1e1;
    margin: 0 0 5px 0;
}
.article__description {
    font-size: 14px;
    color: #e1e1e1;
    margin: 0 0 24px 0;
}
.article__rating {
    margin: 0 0 25px 0;
}
/* block-rating */
.block-rating {
    width: 60px;
    height: 12px;
    position: relative;
}
.block-rating__label {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/icon-rating.png);
    background-position: 0 -12px;
    cursor: pointer;
}
.block-rating__label-2 {
    left: 12px;
}
.block-rating__label-3 {
    left: 24px;
}
.block-rating__label-4 {
    left: 36px;
}
.block-rating__label-5 {
    left: 48px;
}
.block-rating__input {
    display: none;
}
.block-rating__label:hover,
.block-rating__input:checked + .block-rating__label,
.block-rating__input:checked ~ .block-rating__label,
.block-rating__label:hover ~ .block-rating__label {
    background-position: 0 0;
}
/* size-qty */
.article__size-qty {
    display: flex;
    margin: 0 0 30px 0;
}
.size-qty__btn {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #e1e1e1;
    width: 70px;
    height: 32px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    margin: 0 1px;
    cursor: pointer;
}
/* btn */
.article__btn {
    width: 184px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #4f5560;
    box-sizing: border-box;
    background-color: #202835;
    margin: 0 1px;
    text-align: center;
    cursor: pointer;
}
.link {
    text-decoration: none;
}
.link__btn {
    font-size: 14px;
    color: #e1e1e1;
}
.article__btn:active,
.size-qty__btn:active {
    transform: translateY(2px);
}